In [27]:
import os
import requests
import zipfile
import io
import pandas as pd

# Download, extract, and load .dta file into a DataFrame

In [28]:
# Function to download, extract, and load .dta file into a DataFrame
def load_dta_from_zip(url, year):
    print(f"Processing dataset for year {year}...")
    response = requests.get(url)
    zip_file = zipfile.ZipFile(io.BytesIO(response.content))
    zip_file.extractall(f"extracted_files_{year}")

    # List all extracted files
    extracted_files = zip_file.namelist()
    print(f"Extracted files for {year}: {extracted_files}")

    # Identify .dta files
    dta_files = [file for file in extracted_files if file.endswith('.dta')]
    print(f".dta files found for {year}: {dta_files}")

    if dta_files:
        dta_file_path = os.path.join(f"extracted_files_{year}", dta_files[0])
        try:
            df = pd.read_stata(dta_file_path)
            print(f"DataFrame for {year} loaded successfully.")
            return df
        except ValueError as e:
            print(f"Error loading .dta file for {year}: {e}")
            return None
    else:
        print(f"No .dta files found for {year}.")
        return None

# URLs for datasets

In [29]:
# URLs for datasets
urls = {
    2017: "https://proyectos.inei.gob.pe/iinei/srienaho/descarga/STATA/615-Modulo1318.zip",
    2018: "https://proyectos.inei.gob.pe/iinei/srienaho/descarga/STATA/650-Modulo1454.zip",
    2019: "https://proyectos.inei.gob.pe/iinei/srienaho/descarga/STATA/701-Modulo1533.zip"
}

# Loading the datasets

In [30]:
# Load datasets
df_2017 = load_dta_from_zip(urls[2017], 2017)
df_2018 = load_dta_from_zip(urls[2018], 2018)
df_2019 = load_dta_from_zip(urls[2019], 2019)

Processing dataset for year 2017...

Extracted files for 2017: ['615-Modulo1318/', '615-Modulo1318/01_CUESTIONARIO_PEQUEÑOS_MEDIANOS_2017.pdf', '615-Modulo1318/02_CUESTIONARIO_ESTRATO_ESPECIAL_2017.pdf', '615-Modulo1318/04_Cap200b.dta', '615-Modulo1318/Diccionario_Datos_04_CAP200B.pdf']
.dta files found for 2017: ['615-Modulo1318/04_Cap200b.dta']
DataFrame for 2017 loaded successfully.
Processing dataset for year 2018...
Extracted files for 2018: ['650-Modulo-1454/', '650-Modulo-1454/01_CUESTIONARIO_PEQUEÑOS_MEDIANOS_2018.pdf', '650-Modulo-1454/02_CUESTIONARIO_ESTRATO_ESPECIAL_2018.pdf', '650-Modulo-1454/05_Cap200b.dta', '650-Modulo-1454/Diccionario_Datos_05_Cap200b.pdf']
.dta files found for 2018: ['650-Modulo-1454/05_Cap200b.dta']
DataFrame for 2018 loaded successfully.
Processing dataset for year 2019...
Extracted files for 2019: ['701-Modulo1533/', '701-Modulo1533/01_CUESTIONARIO_PEQUEÑOS_MEDIANOS_2019.pdf', '701-Modulo1533/02_CUESTIONARIO_ESTRATO_ESPECIAL_2019.pdf', '701-Modulo1533/05_Cap200b.dta', '701-Modulo1533/Diccionario_Datos_05_Cap200b.pdf']
.dta files found for 2019: ['701-Modulo1533/05_Cap200b.dta']
DataFrame for 2019 loaded successfully.

# Column name mapping based on the PDF dictionary

In [31]:
# Column mappings for each dataset (adjusted based on the dictionaries provided)
column_mapping_2017 = {
    "ANIO": "Year",
    "CCDD": "Department Code",
    "NOMBREDD": "Department Name",
    "CCPP": "Province Code",
    "NOMBREPV": "Province Name",
    "CCDI": "District Code",
    "NOMBREDI": "District Name",
    "CONGLOMERADO": "Conglomerate",
    "NSELUA": "Agricultural Unit Selection Number",
    "UA": "Agricultural Unit Number",
    "ESTRATO": "Stratum Type",
    "RESFIN": "Survey Final Result",
    "REGION": "Natural Region",
    "DOMINIO": "Geographic Domain",
    "FACTOR": "Expansion Factor",
    "CODIGO": "Identification Code",
    "P102_1": "Agricultural Activity in Last 12 Months",
    "P102_2": "Livestock Activity in Last 12 Months",
    "P225": "Travel Hours to District Capital",
    "P225_1": "Travel More Than 24 Hours",
    "P226": "Land Produces Less Over 10 Years",
    "P227": "Main Problem for Reduced Soil Productivity",
    "P228_NOM": "Most Important Crop Name",
    "P228_COD": "Most Important Crop Code",
    "P229_1": "Crop Important: Good Price",
    "P229_2": "Crop Important: Adapts to Climate",
    "P229_3": "Crop Important: Low Water Needs",
    "P229_4": "Crop Important: Secure Market",
    "P229_5": "Crop Important: Short Growth Cycle",
    "P229_6": "Crop Important: Animal Feed",
    "P229_7": "Crop Important: Self-Consumption",
    "P229_8": "Crop Important: Other",
    "P229A_1": "Did Not Sell: Self-Consumption",
    "P229A_2": "Did Not Sell: Animal Feed",
    "P229A_3": "Did Not Sell: Low Production",
    "P229A_4": "Did Not Sell: No Transport Access",
    "P229A_5": "Did Not Sell: Used as Seeds",
    "P229A_6": "Did Not Sell: Other",
}

column_mapping_2018 = column_mapping_2017.copy()
column_mapping_2018.update({
    "P102_3": "No Activity in Last 12 Months",
})

column_mapping_2019 = column_mapping_2018.copy()

In [32]:
# Function to standardize column names
def standardize_columns(df, mapping):
    """
    Standardizes column names in the dataset using a unified mapping and retains only columns present in the DataFrame.

    Parameters:
    df (DataFrame): The dataset to be standardized.
    mapping (dict): The column mapping dictionary.

    Returns:
    DataFrame: The dataset with standardized column names.
    """
    existing_columns = {col: mapping[col] for col in df.columns if col in mapping}
    return df.rename(columns=existing_columns, inplace=False)

In [33]:
# Standardize all datasets
df_2017_standardized = standardize_columns(df_2017, column_mapping_2017)
df_2018_standardized = standardize_columns(df_2018, column_mapping_2018)
df_2019_standardized = standardize_columns(df_2019, column_mapping_2019)

In [34]:
# Align columns across datasets
all_columns_ordered = list(column_mapping_2017.values())

for col in df_2018_standardized.columns:
    if col not in all_columns_ordered:
        all_columns_ordered.append(col)

for col in df_2019_standardized.columns:
    if col not in all_columns_ordered:
        all_columns_ordered.append(col)

df_2017_aligned = df_2017_standardized.reindex(columns=all_columns_ordered)
df_2018_aligned = df_2018_standardized.reindex(columns=all_columns_ordered)
df_2019_aligned = df_2019_standardized.reindex(columns=all_columns_ordered)

In [49]:
# Add 'Year' column to identify datasets
df_2017_aligned['Year'] = 2017
df_2018_aligned['Year'] = 2018
df_2019_aligned['Year'] = 2019

In [50]:
# Combine datasets and add a unique_id column starting at 1
combined_df = pd.concat([df_2017_aligned, df_2018_aligned, df_2019_aligned], ignore_index=True)

# Add unique_id as the first column
combined_df.insert(0, "unique_id", range(1, len(combined_df) + 1))

In [51]:
# Save the combined dataset to a CSV file
### output_path = r"C:\Users\jcbur\OneDrive - peruvianbusinesscouncil.com\csv files\#14_Producer_Geo_Spatial_Analysis\ENA Data Dictionaries\1_production_destination\ena_production_destination_2017_2019.csv"
### combined_df.to_csv(output_path, index=False)

In [52]:
print(combined_df)

       unique_id  Year Department Code Department Name Province Code  \
0              1  2017              24          TUMBES            02
1              2  2017              24          TUMBES            02
2              3  2017              24          TUMBES            02
3              4  2017              24          TUMBES            02
4              5  2017              24          TUMBES            02
...          ...   ...             ...             ...           ...
78835      78836  2019              23           TACNA            01
78836      78837  2019              23           TACNA            01
78837      78838  2019              23           TACNA            01
78838      78839  2019              23           TACNA            01
78839      78840  2019              23           TACNA            01

               Province Name District Code        District Name Conglomerate  \
0      CONTRALMIRANTE VILLAR            03  CANOAS DE PUNTA SAL        00001
1      CONTRALMIRANTE VILLAR            03  CANOAS DE PUNTA SAL        00001
2      CONTRALMIRANTE VILLAR            03  CANOAS DE PUNTA SAL        00001
3      CONTRALMIRANTE VILLAR            03  CANOAS DE PUNTA SAL        00001
4      CONTRALMIRANTE VILLAR            03  CANOAS DE PUNTA SAL        00001
...                      ...           ...                  ...          ...
78835                  TACNA            01                TACNA        19264
78836                  TACNA            01                TACNA        19264
78837                  TACNA            01                TACNA        19264
78838                  TACNA            01                TACNA        19264
78839                  TACNA            01                TACNA        19264

      Agricultural Unit Selection Number  ... Crop Important: Animal Feed  \
0                                  00001  ...                        Pase
1                                  00020  ...                        Pase
2                                  00074  ...                        Pase
3                                  00097  ...                        Pase
4                                  00192  ...                         NaN
...                                  ...  ...                         ...
78835                              00298  ...                         NaN
78836                              00305  ...                        Pase
78837                              00347  ...                        Pase
78838                              00366  ...                         NaN
78839                              00380  ...                        Pase

      Crop Important: Self-Consumption Crop Important: Other  \
0                                 Pase                  Pase
1                                 Pase                  Pase
2                                 Pase                  Pase
3                                 Pase                  Pase
4                                  NaN                   NaN
...                                ...                   ...
78835                              NaN                   NaN
78836                             Pase                  Pase
78837                             Pase                  Pase
78838                              NaN                   NaN
78839                             Pase                  Pase

      Did Not Sell: Self-Consumption Did Not Sell: Animal Feed  \
0                                NaN                       NaN
1                                NaN                       NaN
2                                NaN                       NaN
3                                NaN                       NaN
4                                NaN                       NaN
...                              ...                       ...
78835                            NaN                       NaN
78836                            NaN                       NaN
78837                            NaN                       NaN
78838                            NaN                       NaN
78839                            NaN                       NaN

       Did Not Sell: Low Production Did Not Sell: No Transport Access  \
0                               NaN                               NaN
1                               NaN                               NaN
2                               NaN                               NaN
3                               NaN                               NaN
4                               NaN                               NaN
...                             ...                               ...
78835                           NaN                               NaN
78836                           NaN                               NaN
78837                           NaN                               NaN
78838                           NaN                               NaN
78839                           NaN                               NaN

      Did Not Sell: Used as Seeds Did Not Sell: Other  OMICAP200_01
0                             NaN                 NaN
1                             NaN                 NaN
2                             NaN                 NaN
3                             NaN                 NaN
4                             NaN                 NaN
...                           ...                 ...           ...
78835                         NaN                 NaN
78836                         NaN                 NaN
78837                         NaN                 NaN
78838                         NaN                 NaN
78839                         NaN                 NaN

[78840 rows x 40 columns]

In [53]:
observations = {}
for col in combined_df.columns:
    observations[col] = {
        'total_count': combined_df[col].size,
        'nan_count': combined_df[col].isna().sum(),
        'dtype': combined_df[col].dtype,
        'mean': combined_df[col].mean() if combined_df[col].dtype in ['int64', 'float64'] else None,
        'unique_count': combined_df[col].nunique(),
        'categories': combined_df[col].value_counts().head(10).to_dict() if combined_df[col].dtype == 'object' or combined_df[col].nunique() <= 10 else None
    }

for feature, details in observations.items():
    print(f"Feature: {feature}")
    for key, value in details.items():
        print(f"  {key}: {value}")
    print()

Feature: unique_id
  total_count: 78840
  nan_count: 0
  dtype: int64
  mean: 39420.5
  unique_count: 78840
  categories: None

Feature: Year
  total_count: 78840
  nan_count: 0
  dtype: int64
  mean: 2017.9959918822933
  unique_count: 3
  categories: {2017: 26495, 2019: 26179, 2018: 26166}

Feature: Department Code
  total_count: 78840
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 25
  categories: {'02': 3972, '13': 3952, '21': 3891, '20': 3803, '06': 3761, '08': 3713, '01': 3668, '05': 3593, '10': 3499, '03': 3498}

Feature: Department Name
  total_count: 78840
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 29
  categories: {'ANCASH': 3972, 'LA LIBERTAD': 3952, 'PUNO': 3891, 'PIURA': 3803, 'CAJAMARCA': 3761, 'CUSCO': 3713, 'AMAZONAS': 3668, 'AYACUCHO': 3593, 'HUANCAVELICA': 3371, 'MOQUEGUA': 3269}

Feature: Province Code
  total_count: 78840
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 20
  categories: {'01': 19839, '02': 12165, '03': 9853, '05': 6671, '06': 6408, '04': 5874, '07': 4732, '09': 2994, '10': 2749, '08': 2630}

Feature: Province Name
  total_count: 78840
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 195
  categories: {'MARISCAL NIETO': 1692, 'TUMBES': 1613, 'LAMBAYEQUE': 1588, 'GENERAL SANCHEZ CERRO': 1536, 'TACNA': 1515, 'ICA': 1473, 'CORONEL PORTILLO': 1405, 'ANDAHUAYLAS': 1352, 'PASCO': 1350, 'LUYA': 1224}

Feature: District Code
  total_count: 78840
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 36
  categories: {'01': 15542, '02': 9551, '03': 7872, '04': 7407, '05': 6894, '06': 6618, '07': 4421, '08': 4282, '09': 3117, '10': 2861}

Feature: District Name
  total_count: 78840
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 1107
  categories: {'TACNA': 776, 'PAUCARTAMBO': 561, 'SAN CRISTOBAL': 520, 'HUARMACA': 516, 'IRAZOLA': 482, 'CORRALES': 479, 'TAMBOPATA': 458, 'MORROPE': 455, 'MOYOBAMBA': 440, 'SAN JACINTO': 418}

Feature: Conglomerate
  total_count: 78840
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 2938
  categories: {'16756': 52, '16807': 50, '19026': 42, '14529': 42, '14513': 42, '14492': 42, '14383': 42, '19023': 42, '14324': 42, '19025': 42}

Feature: Agricultural Unit Selection Number
  total_count: 78840
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 437
  categories: {'00041': 749, '00004': 729, '00006': 728, '00023': 727, '00058': 710, '00030': 707, '00067': 703, '00069': 702, '00010': 701, '00055': 699}

Feature: Agricultural Unit Number
  total_count: 78840
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 14
  categories: {'1': 5753, '2': 5747, '3': 5718, '7': 5676, '4': 5669, '5': 5665, '6': 5665, '9': 5627, '10': 5622, '8': 5620}

Feature: Stratum Type
  total_count: 78840
  nan_count: 78840
  dtype: object
  mean: None
  unique_count: 0
  categories: {}

Feature: Survey Final Result
  total_count: 78840
  nan_count: 0
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Completa': 78784, 'Incompleta': 56}

Feature: Natural Region
  total_count: 78840
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 6
  categories: {'Sierra': 31150, 'SIERRA': 15615, 'Selva': 11055, 'Costa': 10140, 'SELVA': 5579, 'COSTA': 5301}

Feature: Geographic Domain
  total_count: 78840
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 8
  categories: {'Sierra Centro': 19563, 'Sierra Sur': 16652, 'Selva': 16634, 'Sierra Norte': 10550, 'Costa Norte': 7983, 'Costa Centro': 4835, 'Costa Sur': 2581, 8.0: 42}

Feature: Expansion Factor
  total_count: 78840
  nan_count: 0
  dtype: float64
  mean: 80.61993819787469
  unique_count: 533
  categories: None

Feature: Identification Code
  total_count: 78840
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 2
  categories: {'Pequeños y medianos productores/as agropecuarios/as': 52345, 1.0: 26495}

Feature: Agricultural Activity in Last 12 Months
  total_count: 78840
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 2
  categories: {'¿Agrícola?': 52345, 'Agricola': 26495}

Feature: Livestock Activity in Last 12 Months
  total_count: 78840
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 4
  categories: {'¿Pecuaria?': 40016, 'Pecuaria': 20549, 'Pase': 12329, 'pase': 5946}

Feature: Travel Hours to District Capital
  total_count: 78840
  nan_count: 376
  dtype: float64
  mean: 1.365390497553018
  unique_count: 23
  categories: None

Feature: Travel More Than 24 Hours
  total_count: 78840
  nan_count: 16
  dtype: object
  mean: None
  unique_count: 4
  categories: {'Pase': 52160, 0.0: 26304, 1.0: 187, 'Más de 24 horas': 173}

Feature: Land Produces Less Over 10 Years
  total_count: 78840
  nan_count: 16
  dtype: object
  mean: None
  unique_count: 4
  categories: {'Sí': 39122, 'Si': 19411, 'No': 19067, 'NO CUMPLE': 1224}

Feature: Main Problem for Reduced Soil Productivity
  total_count: 78840
  nan_count: 20307
  dtype: object
  mean: None
  unique_count: 7
  categories: {'Suelo pobre, infértil (Sobrexplotación del suelo)': 44103, 'Plagas y enfermedades en el suelo': 8149, 'Desgaste del suelo por lluvias intensas': 3550, 'Contaminación por actividad minera': 1626, 'Salinidad del suelo': 518, 'Otro problema del suelo': 408, 'salinidad del suelo': 179}

Feature: Most Important Crop Name
  total_count: 78840
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 325
  categories: {' ': 26085, 'CAFE PERGAMINO': 4919, 'PLATANO': 4735, 'PAPA BLANCA': 4031, 'MAIZ AMILACEO': 3282, 'CACAO': 3068, 'ARROZ CASCARA': 2951, 'MAIZ AMARILLO DURO': 2559, 'PALTO': 2323, 'ALFALFA': 1741}

Feature: Most Important Crop Code
  total_count: 78840
  nan_count: 26085
  dtype: float64
  mean: 1799.3237607809685
  unique_count: 306
  categories: None

Feature: Crop Important: Good Price
  total_count: 78840
  nan_count: 26085
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 30768, 'Tiene buen precio de venta': 21987}

Feature: Crop Important: Adapts to Climate
  total_count: 78840
  nan_count: 26085
  dtype: object
  mean: None
  unique_count: 3
  categories: {'Pase': 35218, 'Se adapta a las condiciones climáticas': 12267, 'Se adapta a las condiciones climÁticas': 5270}

Feature: Crop Important: Low Water Needs
  total_count: 78840
  nan_count: 26085
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 49713, 'No requiere mucha agua': 3042}

Feature: Crop Important: Secure Market
  total_count: 78840
  nan_count: 26085
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Tiene un mercado seguro': 29295, 'Pase': 23460}

Feature: Crop Important: Short Growth Cycle
  total_count: 78840
  nan_count: 26085
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 48242, 'Tiene corto periodo vegetativo': 4513}

Feature: Crop Important: Animal Feed
  total_count: 78840
  nan_count: 26085
  dtype: object
  mean: None
  unique_count: 2
  categories: {'Pase': 50806, 'Lo utiliza a la vez para alimentar a sus animales': 1949}

Feature: Crop Important: Self-Consumption
  total_count: 78840
  nan_count: 26085
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 44483, 'Lo utiliza a la vez para su autoconsumo': 8272}

Feature: Crop Important: Other
  total_count: 78840
  nan_count: 26085
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 52444, 'Otro': 311}

Feature: Did Not Sell: Self-Consumption
  total_count: 78840
  nan_count: 55682
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Lo utilizó para autoconsumo': 19103, 'Pase': 4055}

Feature: Did Not Sell: Animal Feed
  total_count: 78840
  nan_count: 55682
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 15649, 'Es solo para alimentar a sus animales': 7509}

Feature: Did Not Sell: Low Production
  total_count: 78840
  nan_count: 55682
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 15484, 'La producción es baja': 7674}

Feature: Did Not Sell: No Transport Access
  total_count: 78840
  nan_count: 55682
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 22307, 'Falta acceso o medios de transporte': 851}

Feature: Did Not Sell: Used as Seeds
  total_count: 78840
  nan_count: 55682
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 18329, 'Lo utilizó para semilla': 4829}

Feature: Did Not Sell: Other
  total_count: 78840
  nan_count: 55682
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 22479, 'Otro': 679}

Feature: OMICAP200_01
  total_count: 78840
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 2
  categories: {' ': 78824, '99': 16}