In [1]:
import os
import requests
import zipfile
import io
import pandas as pd

# Download, extract, and load .dta file into a DataFrame

In [2]:
# Function to download, extract, and load .dta file into a DataFrame
def load_dta_from_zip(url, year):
    print(f"Processing dataset for year {year}...")
    response = requests.get(url)
    zip_file = zipfile.ZipFile(io.BytesIO(response.content))
    zip_file.extractall(f"extracted_files_{year}")

    # List all extracted files
    extracted_files = zip_file.namelist()
    print(f"Extracted files for {year}: {extracted_files}")

    # Identify .dta files
    dta_files = [file for file in extracted_files if file.endswith('.dta')]
    print(f".dta files found for {year}: {dta_files}")

    if dta_files:
        dta_file_path = os.path.join(f"extracted_files_{year}", dta_files[0])
        try:
            df = pd.read_stata(dta_file_path)
            print(f"DataFrame for {year} loaded successfully.")
            return df
        except ValueError as e:
            print(f"Error loading .dta file for {year}: {e}")
            return None
    else:
        print(f"No .dta files found for {year}.")
        return None

# URLs for datasets

In [3]:
urls = {
    2017: "https://proyectos.inei.gob.pe/iinei/srienaho/descarga/STATA/615-Modulo1332.zip",
    2018: "https://proyectos.inei.gob.pe/iinei/srienaho/descarga/STATA/650-Modulo1468.zip",
    2019: "https://proyectos.inei.gob.pe/iinei/srienaho/descarga/STATA/701-Modulo1547.zip"
}

# Loading the datasets

In [4]:
df_2017 = load_dta_from_zip(urls[2017], 2017)
df_2018 = load_dta_from_zip(urls[2018], 2018)
df_2019 = load_dta_from_zip(urls[2019], 2019)

Processing dataset for year 2017...
Extracted files for 2017: ['615-Modulo1332/', '615-Modulo1332/01_CUESTIONARIO_PEQUEÑOS_MEDIANOS_2017.pdf', '615-Modulo1332/02_CUESTIONARIO_ESTRATO_ESPECIAL_2017.pdf', '615-Modulo1332/18_Cap1100.dta', '615-Modulo1332/Diccionario_Datos_18_CAP1100.pdf']
.dta files found for 2017: ['615-Modulo1332/18_Cap1100.dta']
DataFrame for 2017 loaded successfully.
Processing dataset for year 2018...
Extracted files for 2018: ['650-Modulo-1468/', '650-Modulo-1468/01_CUESTIONARIO_PEQUEÑOS_MEDIANOS_2018.pdf', '650-Modulo-1468/02_CUESTIONARIO_ESTRATO_ESPECIAL_2018.pdf', '650-Modulo-1468/19_Cap1100.dta', '650-Modulo-1468/Diccionario_Datos_19_Cap1100.pdf']
.dta files found for 2018: ['650-Modulo-1468/19_Cap1100.dta']
DataFrame for 2018 loaded successfully.
Processing dataset for year 2019...
Extracted files for 2019: ['701-Modulo1547/', '701-Modulo1547/01_CUESTIONARIO_PEQUEÑOS_MEDIANOS_2019.pdf', '701-Modulo1547/02_CUESTIONARIO_ESTRATO_ESPECIAL_2019.pdf', '701-Modulo1547/19_Cap1100.dta', '701-Modulo1547/Diccionario_Datos_19_Cap1100.pdf']
.dta files found for 2019: ['701-Modulo1547/19_Cap1100.dta']
DataFrame for 2019 loaded successfully.

# Column name mapping based on the PDF dictionary

In [5]:
# Column mappings for each dataset
column_mapping_2017 = {
    "ANIO": "year",
    "CCDD": "region_id",
    "NOMBREDD": "region",
    "CCPP": "province_id",
    "NOMBREPV": "province",
    "CCDI": "district_id",
    "NOMBREDI": "district",
    "CONGLOMERADO": "conglomerate",
    "NSELUA": "agricultural_unit_selection_number",
    "UA": "agricultural_unit_mumber",
    "ESTRATO": "stratum_type",
    "RESFIN": "survey_final_result",
    "REGION": "ntural_region",
    "DOMINIO": "geographic_domain",
    "FACTOR": "expansion_factor",
    "CODIGO": "identification_code",
    "P102_1": "agriculture_12_months",
    "P102_2": "livestock_12_months",
    "P1100": "order_number",
    "P1102": "relationship_agricultural_producer",
    "P1103": "gender",
    "P1104_A": "age_years",
    "P1104_B": "age_months",
    "P1105": "education_level",
    "P1106": "language_childhood",
    "P1107": "Participates in Agricultural Activities",
    "P1108_1": "disability_movement",
    "P1108_2": "disability_visual",
    "P1108_3": "disability_communication",
    "P1108_4": "disability_hearing",
    "P1108_5": "disability_understanding",
    "P1108_6": "disability_relationships",
    "P1109": "ethnic_group",
    "P1109A": "engaged_on_other_income",
    "P1109B": "main_other_income",
    "P1110": "lives_at_the_farm",
    "OMICAP1100": "chapter_1100_omission",
}

column_mapping_2018 = column_mapping_2017.copy()
column_mapping_2018.update({
    "P101A": "producer_legal_status",
    "P102_3": "no_activity_12_months",
})

column_mapping_2019 = column_mapping_2018.copy()

In [6]:
# Function to standardize column names
def standardize_columns(df, mapping):
    """
    Standardizes column names in the dataset using a unified mapping and retains only columns present in the DataFrame.

    Parameters:
    df (DataFrame): The dataset to be standardized.
    mapping (dict): The column mapping dictionary.

    Returns:
    DataFrame: The dataset with standardized column names.
    """
    existing_columns = {col: mapping[col] for col in df.columns if col in mapping}
    return df.rename(columns=existing_columns, inplace=False)

In [7]:
# Standardize all datasets
df_2017_standardized = standardize_columns(df_2017, column_mapping_2017)
df_2018_standardized = standardize_columns(df_2018, column_mapping_2018)
df_2019_standardized = standardize_columns(df_2019, column_mapping_2019)

In [8]:
# Align columns across datasets
all_columns_ordered = list(column_mapping_2017.values())

for col in df_2018_standardized.columns:
    if col not in all_columns_ordered:
        all_columns_ordered.append(col)

for col in df_2019_standardized.columns:
    if col not in all_columns_ordered:
        all_columns_ordered.append(col)

df_2017_aligned = df_2017_standardized.reindex(columns=all_columns_ordered)
df_2018_aligned = df_2018_standardized.reindex(columns=all_columns_ordered)
df_2019_aligned = df_2019_standardized.reindex(columns=all_columns_ordered)

In [9]:
# Add 'Year' column to identify datasets
df_2017_aligned['Year'] = 2017
df_2018_aligned['Year'] = 2018
df_2019_aligned['Year'] = 2019

In [10]:
# Combine datasets and add a unique_id column starting at 1
combined_df = pd.concat([df_2017_aligned, df_2018_aligned, df_2019_aligned], ignore_index=True)

# Add unique_id as the first column
combined_df.insert(0, "unique_id", range(1, len(combined_df) + 1))

C:\Users\jcbur\AppData\Local\Temp\ipykernel_3212\369379374.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([df_2017_aligned, df_2018_aligned, df_2019_aligned], ignore_index=True)

C:\Users\jcbur\AppData\Local\Temp\ipykernel_3212\369379374.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([df_2017_aligned, df_2018_aligned, df_2019_aligned], ignore_index=True)
C:\Users\jcbur\AppData\Local\Temp\ipykernel_3212\369379374.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([df_2017_aligned, df_2018_aligned, df_2019_aligned], ignore_index=True)

In [11]:
# Save the combined dataset to a CSV file
### output_path = r"C:\Users\jcbur\OneDrive - peruvianbusinesscouncil.com\csv files\#14_Producer_Geo_Spatial_Analysis\ena_producer_profile_2017_2019.csv"
### combined_df.to_csv(output_path, index=False)

In [12]:
print(combined_df)

        unique_id    year region_id  region province_id  \
0               1  2017.0        24  TUMBES          02
1               2  2017.0        24  TUMBES          02
2               3  2017.0        24  TUMBES          02
3               4  2017.0        24  TUMBES          02
4               5  2017.0        24  TUMBES          02
...           ...     ...       ...     ...         ...
280414     280415  2019.0        23   TACNA          01
280415     280416  2019.0        23   TACNA          01
280416     280417  2019.0        23   TACNA          01
280417     280418  2019.0        23   TACNA          01
280418     280419  2019.0        23   TACNA          01

                     province district_id             district conglomerate  \
0       CONTRALMIRANTE VILLAR          03  CANOAS DE PUNTA SAL        00001
1       CONTRALMIRANTE VILLAR          03  CANOAS DE PUNTA SAL        00001
2       CONTRALMIRANTE VILLAR          03  CANOAS DE PUNTA SAL        00001
3       CONTRALMIRANTE VILLAR          03  CANOAS DE PUNTA SAL        00001
4       CONTRALMIRANTE VILLAR          03  CANOAS DE PUNTA SAL        00001
...                       ...         ...                  ...          ...
280414                  TACNA          01                TACNA        19264
280415                  TACNA          01                TACNA        19264
280416                  TACNA          01                TACNA        19264
280417                  TACNA          01                TACNA        19264
280418                  TACNA          01                TACNA        19264

       agricultural_unit_selection_number  ... disability_understanding  \
0                                   00001  ...                      NaN
1                                   00001  ...                      NaN
2                                   00001  ...                      NaN
3                                   00001  ...                       No
4                                   00001  ...                      NaN
...                                   ...  ...                      ...
280414                              00380  ...                      NaN
280415                              00380  ...                      NaN
280416                              00380  ...                      NaN
280417                              00380  ...                      NaN
280418                              00380  ...                       No

       disability_relationships ethnic_group engaged_on_other_income  \
0                           NaN          NaN                      No
1                           NaN          NaN                      No
2                           NaN          NaN                      No
3                            No     Mestizo?                      No
4                           NaN          NaN                      No
...                         ...          ...                     ...
280414                      NaN          NaN                      Sí
280415                      NaN          NaN                      Sí
280416                      NaN          NaN                      Sí
280417                      NaN          NaN                      Sí
280418                       No     Mestizo?                      Sí

       main_other_income  lives_at_the_farm chapter_1100_omission  \
0                    NaN                 NO
1                    NaN                 NO
2                    NaN                 NO
3                    NaN                 NO
4                    NaN                 NO
...                  ...                ...                   ...
280414       En comercio                 No
280415       En comercio                 No
280416       En comercio                 No
280417       En comercio                 No
280418       En comercio                 No

       producer_legal_status no_activity_12_months  Year
0                        NaN                   NaN  2017
1                        NaN                   NaN  2017
2                        NaN                   NaN  2017
3                        NaN                   NaN  2017
4                        NaN                   NaN  2017
...                      ...                   ...   ...
280414                   NaN                  Pase  2019
280415                   NaN                  Pase  2019
280416                   NaN                  Pase  2019
280417                   NaN                  Pase  2019
280418                   NaN                  Pase  2019

[280419 rows x 41 columns]

In [13]:
observations = {}
for col in combined_df.columns:
    observations[col] = {
        'total_count': combined_df[col].size,
        'nan_count': combined_df[col].isna().sum(),
        'dtype': combined_df[col].dtype,
        'mean': combined_df[col].mean() if combined_df[col].dtype in ['int64', 'float64'] else None,
        'unique_count': combined_df[col].nunique(),
        'categories': combined_df[col].value_counts().head(10).to_dict() if combined_df[col].dtype == 'object' or combined_df[col].nunique() <= 10 else None
    }

for feature, details in observations.items():
    print(f"Feature: {feature}")
    for key, value in details.items():
        print(f"  {key}: {value}")
    print()

Feature: unique_id
  total_count: 280419
  nan_count: 0
  dtype: int64
  mean: 140210.0
  unique_count: 280419
  categories: None

Feature: year
  total_count: 280419
  nan_count: 0
  dtype: float64
  mean: 2017.9759181795812
  unique_count: 3
  categories: {2017.0: 96382, 2018.0: 94408, 2019.0: 89629}

Feature: region_id
  total_count: 280419
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 25
  categories: {'20': 14912, '13': 14339, '14': 14205, '01': 13897, '02': 13767, '16': 13728, '06': 13720, '08': 13225, '10': 13169, '22': 12576}

Feature: region
  total_count: 280419
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 29
  categories: {'PIURA': 14912, 'LA LIBERTAD': 14339, 'LAMBAYEQUE': 14205, 'AMAZONAS': 13897, 'ANCASH': 13767, 'LORETO': 13728, 'CAJAMARCA': 13720, 'CUSCO': 13225, 'HUANCAVELICA': 12311, 'PUNO': 11802}

Feature: province_id
  total_count: 280419
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 20
  categories: {'01': 70928, '02': 43054, '03': 36689, '05': 23377, '06': 22335, '04': 20239, '07': 17177, '09': 10954, '10': 9677, '08': 9200}

Feature: province
  total_count: 280419
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 197
  categories: {'LAMBAYEQUE': 7287, 'TUMBES': 5814, 'CORONEL PORTILLO': 5438, 'TACNA': 5410, 'PASCO': 5367, 'ANDAHUAYLAS': 4872, 'FERREÑAFE': 4743, 'MARISCAL NIETO': 4738, 'LUYA': 4588, 'HUANCABAMBA': 4415}

Feature: district_id
  total_count: 280419
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 37
  categories: {'01': 55135, '02': 34337, '03': 28530, '04': 27089, '05': 24803, '06': 23813, '07': 15621, '08': 14337, '09': 10573, '10': 9732}

Feature: district
  total_count: 280419
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 1203
  categories: {'MORROPE': 2446, 'TACNA': 2178, 'HUARMACA': 2094, 'MOYOBAMBA': 1873, 'PAUCARTAMBO': 1871, 'TAMBOPATA': 1758, 'CAÑARIS': 1697, 'CORRALES': 1647, 'INCAHUASI': 1626, 'IRAZOLA': 1558}

Feature: conglomerate
  total_count: 280419
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 3668
  categories: {'10595': 254, '01484': 253, '05664': 253, '05114': 246, '01481': 239, '05576': 228, '00687': 228, '05661': 225, '06109': 224, '05670': 223}

Feature: agricultural_unit_selection_number
  total_count: 280419
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 479
  categories: {'00041': 2588, '00004': 2584, '00003': 2567, '00035': 2554, '00067': 2552, '00014': 2549, '00030': 2537, '00069': 2531, '00006': 2528, '00019': 2527}

Feature: agricultural_unit_mumber
  total_count: 280419
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 45
  categories: {'1': 20804, '2': 20549, '7': 20382, '5': 20192, '3': 20135, '10': 20075, '11': 20056, '4': 20025, '6': 19859, '8': 19846}

Feature: stratum_type
  total_count: 280419
  nan_count: 279018
  dtype: category
  mean: None
  unique_count: 4
  categories: {'Empresa': 465, 'Granjas y Establos': 416, 'Persona Natural': 287, 'Granjas Avícolas': 233}

Feature: survey_final_result
  total_count: 280419
  nan_count: 0
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Completa': 280252, 'Incompleta': 167}

Feature: ntural_region
  total_count: 280419
  nan_count: 0
  dtype: category
  mean: None
  unique_count: 3
  categories: {'Sierra': 160633, 'Selva': 65192, 'Costa': 54594}

Feature: geographic_domain
  total_count: 280419
  nan_count: 1401
  dtype: object
  mean: None
  unique_count: 9
  categories: {'Sierra Centro': 68060, 'Selva': 64800, 'Sierra Sur': 52699, 'Sierra Norte': 39610, 'Costa Norte': 31213, 'Costa Centro': 14115, 'Costa Sur': 8033, 'Lima Metropolitano': 259, 8.0: 229}

Feature: expansion_factor
  total_count: 280419
  nan_count: 0
  dtype: float64
  mean: 81.1167847384905
  unique_count: 543
  categories: None

Feature: identification_code
  total_count: 280419
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 3
  categories: {'Pequeños y medianos productores/as agropecuarios/as': 182636, 1.0: 96382, 'Grandes productores/as agropecuarios/as': 1401}

Feature: agriculture_12_months
  total_count: 280419
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 4
  categories: {'¿Agrícola?': 174408, 'Agricola': 91821, 'Pase': 9629, 'pase': 4561}

Feature: livestock_12_months
  total_count: 280419
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 4
  categories: {'¿Pecuaria?': 146866, 'Pecuaria': 78623, 'Pase': 37171, 'pase': 17759}

Feature: order_number
  total_count: 280419
  nan_count: 1401
  dtype: float64
  mean: 2.7251001727487116
  unique_count: 19
  categories: None

Feature: relationship_agricultural_producer
  total_count: 280419
  nan_count: 1422
  dtype: category
  mean: None
  unique_count: 9
  categories: {'Hijo/a': 109148, 'Productor/a': 84318, 'Esposo/a': 55304, 'Nieto/a': 12853, 'Padres/Suegros/as': 6513, 'Yerno/Nuera': 3570, 'Hermano/a': 3292, 'Otros parientes': 3252, 'Otros No parientes': 747}

Feature: gender
  total_count: 280419
  nan_count: 1422
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Hombre': 142235, 'Mujer': 136762}

Feature: age_years
  total_count: 280419
  nan_count: 4068
  dtype: float64
  mean: 35.97294021009513
  unique_count: 98
  categories: None

Feature: age_months
  total_count: 280419
  nan_count: 277772
  dtype: float64
  mean: 5.584435209671326
  unique_count: 12
  categories: None

Feature: education_level
  total_count: 280419
  nan_count: 11007
  dtype: category
  mean: None
  unique_count: 10
  categories: {'Primaria incompleta': 76536, 'Secundaria incompleta': 42697, 'Secundaria completa': 42193, 'Primaria completa': 40993, 'Sin nivel': 29406, 'Inicial': 10319, 'Sup. no univ. completa': 8629, 'Sup. univ. completa': 7779, 'Sup. univ. incompleta': 5930, 'Sup. no univ. incompleta': 4930}

Feature: language_childhood
  total_count: 280419
  nan_count: 11007
  dtype: category
  mean: None
  unique_count: 7
  categories: {'Castellano?': 179243, 'Quechua?': 69782, 'Otra lengua nativa?': 10148, 'Aymara?': 8388, 'Portugués?': 960, 'ES SORDOMUDO/A O MUDO/A': 567, 'Otra lengua extranjera?': 324}

Feature: Participates in Agricultural Activities
  total_count: 280419
  nan_count: 107969
  dtype: object
  mean: None
  unique_count: 3
  categories: {'Sí': 91807, 'Si': 49055, 'No': 31588}

Feature: disability_movement
  total_count: 280419
  nan_count: 196101
  dtype: object
  mean: None
  unique_count: 3
  categories: {'No': 81345, 'Sí': 1954, 'Si': 1019}

Feature: disability_visual
  total_count: 280419
  nan_count: 196101
  dtype: object
  mean: None
  unique_count: 3
  categories: {'No': 82390, 'Sí': 1227, 'Si': 701}

Feature: disability_communication
  total_count: 280419
  nan_count: 196101
  dtype: object
  mean: None
  unique_count: 3
  categories: {'No': 83970, 'Sí': 214, 'Si': 134}

Feature: disability_hearing
  total_count: 280419
  nan_count: 196101
  dtype: object
  mean: None
  unique_count: 3
  categories: {'No': 82794, 'Sí': 1018, 'Si': 506}

Feature: disability_understanding
  total_count: 280419
  nan_count: 196101
  dtype: object
  mean: None
  unique_count: 3
  categories: {'No': 83101, 'Sí': 629, 'Si': 588}

Feature: disability_relationships
  total_count: 280419
  nan_count: 196101
  dtype: object
  mean: None
  unique_count: 3
  categories: {'No': 83942, 'Sí': 206, 'Si': 170}

Feature: ethnic_group
  total_count: 280419
  nan_count: 196101
  dtype: object
  mean: None
  unique_count: 9
  categories: {'Mestizo?': 40574, 'Quechua?': 27193, 'NO SABE': 6547, 'Aymara?': 4693, 'Nativo o Indígena de la Amazonía?': 2909, 'Blanco?': 1703, 'Otro?': 470, 'Negro/Mulato/Zambo/Afro peruano?': 228, 9.0: 1}

Feature: engaged_on_other_income
  total_count: 280419
  nan_count: 1422
  dtype: object
  mean: None
  unique_count: 3
  categories: {'No': 118728, 'Sí': 104122, 'Si': 56147}

Feature: main_other_income
  total_count: 280419
  nan_count: 120150
  dtype: object
  mean: None
  unique_count: 9
  categories: {'En agricultura, gandería y pesca': 47591, 'En comercio': 29557, 'En agricultura, ganderia y pesca': 26401, 'Otra': 20251, 'En construcción': 20045, 'En transporte': 10131, 'En restaurantes y hoteles': 2833, 'En fabricación de prendas de vestir/otros productos': 2059, 'En fábricación de prendas de vestir/otros': 1401}

Feature: lives_at_the_farm
  total_count: 280419
  nan_count: 4261
  dtype: object
  mean: None
  unique_count: 4
  categories: {'No': 110408, 'Sí': 70624, 'NO': 56465, 'SI': 38661}

Feature: chapter_1100_omission
  total_count: 280419
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 2
  categories: {' ': 280398, '99': 21}

Feature: producer_legal_status
  total_count: 280419
  nan_count: 279018
  dtype: category
  mean: None
  unique_count: 8
  categories: {'¿Persona natural?': 645, '¿Sociedad anónima cerrada (SAC)?': 374, '¿Sociedad anónima?': 138, 'Otro': 96, '¿Empresa individual de responsabilidad limitada (EIRL)?': 74, '¿Sociedad de responsabilidad limitada (SRL)?': 55, '¿Sociedad anónima abierta (SAA)?': 12, '¿Cooperativa agraria?': 7}

Feature: no_activity_12_months
  total_count: 280419
  nan_count: 96382
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 179655, 'NO REALIZÓ ACTIVIDAD': 4382}

Feature: Year
  total_count: 280419
  nan_count: 0
  dtype: int64
  mean: 2017.9759181795812
  unique_count: 3
  categories: {2017: 96382, 2018: 94408, 2019: 89629}