In [1]:
import os
import requests
import zipfile
import io
import pandas as pd

# Download, extract, and load .dta file into a DataFrame

In [2]:
# Function to download, extract, and load .dta file into a DataFrame
def load_dta_from_zip(url, year):
    print(f"Processing dataset for year {year}...")
    response = requests.get(url)
    zip_file = zipfile.ZipFile(io.BytesIO(response.content))
    zip_file.extractall(f"extracted_files_{year}")

    # List all extracted files
    extracted_files = zip_file.namelist()
    print(f"Extracted files for {year}: {extracted_files}")

    # Identify .dta files
    dta_files = [file for file in extracted_files if file.endswith('.dta')]
    print(f".dta files found for {year}: {dta_files}")

    if dta_files:
        dta_file_path = os.path.join(f"extracted_files_{year}", dta_files[0])
        try:
            df = pd.read_stata(dta_file_path)
            print(f"DataFrame for {year} loaded successfully.")
            return df
        except ValueError as e:
            print(f"Error loading .dta file for {year}: {e}")
            return None
    else:
        print(f"No .dta files found for {year}.")
        return None

# URLs for datasets

In [3]:
urls = {
    2017: "https://proyectos.inei.gob.pe/iinei/srienaho/descarga/STATA/615-Modulo1334.zip",
    2018: "https://proyectos.inei.gob.pe/iinei/srienaho/descarga/STATA/650-Modulo1470.zip",
    2019: "https://proyectos.inei.gob.pe/iinei/srienaho/descarga/STATA/701-Modulo1549.zip"
}

# Loading the datasets

In [4]:
df_2017 = load_dta_from_zip(urls[2017], 2017)
df_2018 = load_dta_from_zip(urls[2018], 2018)
df_2019 = load_dta_from_zip(urls[2019], 2019)

Processing dataset for year 2017...
Extracted files for 2017: ['615-Modulo1334/', '615-Modulo1334/01_CUESTIONARIO_PEQUEÑOS_MEDIANOS_2017.pdf', '615-Modulo1334/02_CUESTIONARIO_ESTRATO_ESPECIAL_2017.pdf', '615-Modulo1334/20_Cap1200a.dta', '615-Modulo1334/Diccionario_Datos_20_CAP1200A.pdf']
.dta files found for 2017: ['615-Modulo1334/20_Cap1200a.dta']
DataFrame for 2017 loaded successfully.
Processing dataset for year 2018...
Extracted files for 2018: ['650-Modulo-1470/', '650-Modulo-1470/01_CUESTIONARIO_PEQUEÑOS_MEDIANOS_2018.pdf', '650-Modulo-1470/02_CUESTIONARIO_ESTRATO_ESPECIAL_2018.pdf', '650-Modulo-1470/21_Cap1200a.dta', '650-Modulo-1470/Diccionario_Datos_21_Cap1200a.pdf']
.dta files found for 2018: ['650-Modulo-1470/21_Cap1200a.dta']
DataFrame for 2018 loaded successfully.
Processing dataset for year 2019...
Extracted files for 2019: ['701-Modulo1549/', '701-Modulo1549/01_CUESTIONARIO_PEQUEÑOS_MEDIANOS_2019.pdf', '701-Modulo1549/02_CUESTIONARIO_ESTRATO_ESPECIAL_2019.pdf', '701-Modulo1549/21_Cap1200a.dta', '701-Modulo1549/Diccionario_Datos_21_Cap1200a.pdf']
.dta files found for 2019: ['701-Modulo1549/21_Cap1200a.dta']
DataFrame for 2019 loaded successfully.

# Column name mapping based on the PDF dictionary

In [5]:
column_mapping_2017 = {
    "ANIO": "Year",
    "CCDD": "Department Code",
    "NOMBREDD": "Department Name",
    "CCPP": "Province Code",
    "NOMBREPV": "Province Name",
    "CCDI": "District Code",
    "NOMBREDI": "District Name",
    "CONGLOMERADO": "Conglomerate",
    "NSELUA": "Agricultural Unit Selection Number",
    "UA": "Agricultural Unit Number",
    "ESTRATO": "Stratum Type",
    "P1205": "Crop Number",
    "P1205_NOM": "Crop Name",
    "P1205_COD": "Crop Code",
    "P1205_TIPO": "Crop Type",
    "P1206_SUP_1": "Sown Area Integer",
    "P1206_SUP_2": "Sown Area Decimal",
    "P1206A": "Irrigation Type",
    "P1207": "Crop Management",
    "P1207A_MES": "Sowing Month",
    "P1207A_ANIO": "Sowing Year"
}

column_mapping_2018 = column_mapping_2017.copy()
column_mapping_2018.update({
    "P1207B": "Installed Plants"
})

column_mapping_2019 = column_mapping_2018.copy()
column_mapping_2019.update({
    "P1206B": "Seed Certification"
})

In [6]:
# Function to standardize column names
def standardize_columns(df, mapping):
    """
    Standardizes column names in the dataset using a unified mapping and retains only columns present in the DataFrame.

    Parameters:
    df (DataFrame): The dataset to be standardized.
    mapping (dict): The column mapping dictionary.

    Returns:
    DataFrame: The dataset with standardized column names.
    """
    existing_columns = {col: mapping[col] for col in df.columns if col in mapping}
    return df.rename(columns=existing_columns, inplace=False)

In [7]:
# Standardize all datasets
df_2017_standardized = standardize_columns(df_2017, column_mapping_2017)
df_2018_standardized = standardize_columns(df_2018, column_mapping_2018)
df_2019_standardized = standardize_columns(df_2019, column_mapping_2019)

In [8]:
# Align columns across datasets
all_columns_ordered = list(column_mapping_2017.values())

for col in df_2018_standardized.columns:
    if col not in all_columns_ordered:
        all_columns_ordered.append(col)

for col in df_2019_standardized.columns:
    if col not in all_columns_ordered:
        all_columns_ordered.append(col)

df_2017_aligned = df_2017_standardized.reindex(columns=all_columns_ordered)
df_2018_aligned = df_2018_standardized.reindex(columns=all_columns_ordered)
df_2019_aligned = df_2019_standardized.reindex(columns=all_columns_ordered)

In [9]:
# Add 'Year' column to identify datasets
df_2017_aligned['Year'] = 2017
df_2018_aligned['Year'] = 2018
df_2019_aligned['Year'] = 2019

In [10]:
# Combine datasets and add a unique_id column starting at 1
combined_df = pd.concat([df_2017_aligned, df_2018_aligned, df_2019_aligned], ignore_index=True)

# Add unique_id as the first column
combined_df.insert(0, "unique_id", range(1, len(combined_df) + 1))

C:\Users\jcbur\AppData\Local\Temp\ipykernel_9584\369379374.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([df_2017_aligned, df_2018_aligned, df_2019_aligned], ignore_index=True)
C:\Users\jcbur\AppData\Local\Temp\ipykernel_9584\369379374.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([df_2017_aligned, df_2018_aligned, df_2019_aligned], ignore_index=True)
C:\Users\jcbur\AppData\Local\Temp\ipykernel_9584\369379374.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([df_2017_aligned, df_2018_aligned, df_2019_aligned], ignore_index=True)

In [11]:
# Save the combined dataset to a CSV file
### output_path = r"C:\Users\jcbur\OneDrive - peruvianbusinesscouncil.com\csv files\#14_Producer_Geo_Spatial_Analysis\ENA Data Dictionaries\6_Cultivos\ena_production_harvested_2017_2019.csv"
### combined_df.to_csv(output_path, index=False)

In [12]:
print(combined_df)

        unique_id  Year Department Code Department Name Province Code  \
0               1  2017              24          TUMBES            02
1               2  2017              24          TUMBES            02
2               3  2017              24          TUMBES            02
3               4  2017              24          TUMBES            02
4               5  2017              24          TUMBES            02
...           ...   ...             ...             ...           ...
363004     363005  2019              20           PIURA            01
363005     363006  2019              20           PIURA            01
363006     363007  2019              20           PIURA            01
363007     363008  2019              20           PIURA            01
363008     363009  2019              20           PIURA            01

                Province Name District Code        District Name Conglomerate  \
0       CONTRALMIRANTE VILLAR            03  CANOAS DE PUNTA SAL        00001
1       CONTRALMIRANTE VILLAR            03  CANOAS DE PUNTA SAL        00001
2       CONTRALMIRANTE VILLAR            03  CANOAS DE PUNTA SAL        00001
3       CONTRALMIRANTE VILLAR            03  CANOAS DE PUNTA SAL        00001
4       CONTRALMIRANTE VILLAR            03  CANOAS DE PUNTA SAL        00001
...                       ...           ...                  ...          ...
363004                  PIURA            04             CASTILLA        90237
363005                  PIURA            04             CASTILLA        90237
363006                  PIURA            04             CASTILLA        90237
363007                  PIURA            07            CURA MORI        90238
363008                  PIURA            14         TAMBO GRANDE        90239

       Agricultural Unit Selection Number  ...     FACTOR  \
0                                   00001  ...  16.357143
1                                   00001  ...  16.357143
2                                   00001  ...  16.357143
3                                   00001  ...  16.357143
4                                   00001  ...  16.357143
...                                   ...  ...        ...
363004                              00001  ...   1.022642
363005                              00001  ...   1.022642
363006                              00001  ...   1.022642
363007                              00001  ...   1.022642
363008                              00002  ...   1.022642

                                         CODIGO  \
0                                           1.0
1                                           1.0
2                                           1.0
3                                           1.0
4                                           1.0
...                                         ...
363004  Grandes productores/as agropecuarios/as
363005  Grandes productores/as agropecuarios/as
363006  Grandes productores/as agropecuarios/as
363007  Grandes productores/as agropecuarios/as
363008  Grandes productores/as agropecuarios/as

                                   P101A      P102_1    P102_2 P102_3  P1203  \
0                                    NaN    Agricola  Pecuaria    NaN    1.0
1                                    NaN    Agricola  Pecuaria    NaN    1.0
2                                    NaN    Agricola  Pecuaria    NaN    1.0
3                                    NaN    Agricola  Pecuaria    NaN    1.0
4                                    NaN    Agricola  Pecuaria    NaN    1.0
...                                  ...         ...       ...    ...    ...
363004  ¿Sociedad anónima cerrada (SAC)?  ¿Agrícola?      Pase   Pase    2.0
363005  ¿Sociedad anónima cerrada (SAC)?  ¿Agrícola?      Pase   Pase    1.0
363006  ¿Sociedad anónima cerrada (SAC)?  ¿Agrícola?      Pase   Pase    1.0
363007  ¿Sociedad anónima cerrada (SAC)?  ¿Agrícola?      Pase   Pase    1.0
363008  ¿Sociedad anónima cerrada (SAC)?  ¿Agrícola?      Pase   Pase    1.0

       Installed Plants OMICAP1200_02 Seed Certification
0                   NaN                              NaN
1                   NaN                              NaN
2                   NaN                              NaN
3                   NaN                              NaN
4                   NaN                              NaN
...                 ...           ...                ...
363004          76307.0                              NaN
363005         114462.0                              NaN
363006          96960.0                              NaN
363007         112185.0                              NaN
363008           1500.0                              NaN

[363009 rows x 35 columns]

In [13]:
observations = {}
for col in combined_df.columns:
    observations[col] = {
        'total_count': combined_df[col].size,
        'nan_count': combined_df[col].isna().sum(),
        'dtype': combined_df[col].dtype,
        'mean': combined_df[col].mean() if combined_df[col].dtype in ['int64', 'float64'] else None,
        'unique_count': combined_df[col].nunique(),
        'categories': combined_df[col].value_counts().head(10).to_dict() if combined_df[col].dtype == 'object' or combined_df[col].nunique() <= 10 else None
    }

for feature, details in observations.items():
    print(f"Feature: {feature}")
    for key, value in details.items():
        print(f"  {key}: {value}")
    print()

Feature: unique_id
  total_count: 363009
  nan_count: 0
  dtype: int64
  mean: 181505.0
  unique_count: 363009
  categories: None

Feature: Year
  total_count: 363009
  nan_count: 0
  dtype: int64
  mean: 2017.9533923401348
  unique_count: 3
  categories: {2017: 127976, 2018: 123976, 2019: 111057}

Feature: Department Code
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 25
  categories: {'06': 23337, '01': 22141, '13': 22025, '18': 19268, '10': 18967, '09': 18017, '22': 17445, '05': 17375, '02': 16142, '03': 15896}

Feature: Department Name
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 29
  categories: {'CAJAMARCA': 23337, 'AMAZONAS': 22141, 'LA LIBERTAD': 22025, 'MOQUEGUA': 19268, 'HUANCAVELICA': 18017, 'AYACUCHO': 17375, 'ANCASH': 16142, 'MADRE DE DIOS': 15573, 'ICA': 15372, 'LIMA': 14774}

Feature: Province Code
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 20
  categories: {'01': 97264, '02': 49668, '03': 46711, '05': 32843, '06': 29160, '04': 25910, '07': 20001, '09': 18186, '10': 12313, '08': 9883}

Feature: Province Name
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 197
  categories: {'MARISCAL NIETO': 10907, 'TAMBOPATA': 9663, 'ICA': 8867, 'TACNA': 8528, 'GENERAL SANCHEZ CERRO': 8322, 'LUYA': 8028, 'LAMBAYEQUE': 7012, 'OTUZCO': 6480, 'SANCHEZ CARRION': 6359, 'CORONEL PORTILLO': 5844}

Feature: District Code
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 38
  categories: {'01': 73023, '02': 44676, '03': 36804, '04': 32887, '05': 32163, '06': 27302, '07': 19136, '08': 18449, '09': 16217, '10': 12821}

Feature: District Name
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 1215
  categories: {'TACNA': 4622, 'TAMBOPATA': 4068, 'MOQUEGUA': 3072, 'HUARMACA': 2945, 'LAS PIEDRAS': 2868, 'SAN CRISTOBAL': 2829, 'OMATE': 2717, 'MOYOBAMBA': 2610, 'PISUQUIA': 2294, 'ACORIA': 2082}

Feature: Conglomerate
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 3853
  categories: {'19092': 569, '19170': 565, '05466': 537, '14565': 529, '14564': 505, '07275': 503, '10079': 499, '07287': 493, '19103': 489, '19052': 475}

Feature: Agricultural Unit Selection Number
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 439
  categories: {'00001': 4279, '00006': 3748, '00023': 3714, '00004': 3581, '00003': 3484, '00014': 3466, '00031': 3465, '00002': 3393, '00041': 3369, '00013': 3353}

Feature: Agricultural Unit Number
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 47
  categories: {'1': 31965, '2': 28771, '3': 26736, '4': 26597, '5': 25735, '6': 25630, '7': 25085, '11': 25075, '9': 25001, '8': 24782}

Feature: Stratum Type
  total_count: 363009
  nan_count: 345583
  dtype: object
  mean: None
  unique_count: 7
  categories: {'Empresa': 4696, 'Persona natural': 4540, 'Granja y Establo': 3381, 'Persona Natural': 2165, 'Granjas y Establos': 1793, 'Granja avicola': 588, 'Granjas Avícolas': 263}

Feature: Crop Number
  total_count: 363009
  nan_count: 0
  dtype: float64
  mean: 2.8076383781118373
  unique_count: 43
  categories: None

Feature: Crop Name
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 614
  categories: {'PLATANO': 25915, 'ALFALFA': 23597, 'PALTO': 15297, 'MAIZ AMILACEO': 13937, 'EUCALIPTO': 11026, 'CAFE PERGAMINO': 9869, 'PACAE': 9734, 'MANGO': 9390, 'NARANJO': 9049, 'RYE GRASS': 8005}

Feature: Crop Code
  total_count: 363009
  nan_count: 0
  dtype: float64
  mean: 1646.8969281753346
  unique_count: 455
  categories: None

Feature: Crop Type
  total_count: 363009
  nan_count: 0
  dtype: category
  mean: None
  unique_count: 4
  categories: {' Permanente de cosecha estacional': 128196, 'Transitorio': 115914, ' Permanente de cosecha continua': 96401, 'Forestal': 22498}

Feature: Sown Area Integer
  total_count: 363009
  nan_count: 0
  dtype: float64
  mean: 133.07639755488157
  unique_count: 1355
  categories: None

Feature: Sown Area Decimal
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 937
  categories: {'000': 104232, '500': 26269, '001': 20218, '250': 17496, '010': 14175, '100': 13709, '002': 13697, '050': 12415, '020': 10581, '005': 9592}

Feature: Irrigation Type
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 3
  categories: {'Secano?': 186285, 'Riego?': 116424, 'Riego': 60300}

Feature: Crop Management
  total_count: 363009
  nan_count: 0
  dtype: category
  mean: None
  unique_count: 4
  categories: {' Homogéneo/un solo cultivo?': 189879, 'Disperso?': 128075, 'Asociado?': 30817, ' Vergel/huerto?': 14238}

Feature: Sowing Month
  total_count: 363009
  nan_count: 0
  dtype: float64
  mean: 5.770011211843233
  unique_count: 12
  categories: None

Feature: Sowing Year
  total_count: 363009
  nan_count: 0
  dtype: float64
  mean: 2011.5033291185619
  unique_count: 70
  categories: None

Feature: RESFIN
  total_count: 363009
  nan_count: 0
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Completa': 362706, 'Incompleta': 303}

Feature: REGION
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 4
  categories: {'Sierra': 204791, 'Selva': 91581, 'Costa': 66588, 4.0: 49}

Feature: DOMINIO
  total_count: 363009
  nan_count: 17426
  dtype: object
  mean: None
  unique_count: 9
  categories: {'Selva': 83281, 'Sierra Centro': 82776, 'Sierra Norte': 60621, 'Sierra Sur': 57405, 'Costa Norte': 25975, 'Costa Centro': 21695, 'Costa Sur': 13349, 'Lima Metropolitano': 390, 8.0: 91}

Feature: FACTOR
  total_count: 363009
  nan_count: 0
  dtype: float64
  mean: 74.14643094974146
  unique_count: 553
  categories: None

Feature: CODIGO
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 4
  categories: {'Pequeños y medianos productores/as agropecuarios/as': 223602, 1.0: 121981, 'Grandes productores/as agropecuarios/as': 11431, 2.0: 5995}

Feature: P101A
  total_count: 363009
  nan_count: 351578
  dtype: category
  mean: None
  unique_count: 8
  categories: {'¿Persona natural?': 6983, '¿Sociedad anónima cerrada (SAC)?': 1795, 'Otro': 1110, '¿Sociedad anónima?': 948, '¿Empresa individual de responsabilidad limitada (EIRL)?': 231, '¿Sociedad de responsabilidad limitada (SRL)?': 187, '¿Sociedad anónima abierta (SAA)?': 90, '¿Cooperativa agraria?': 87}

Feature: P102_1
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 4
  categories: {'¿Agrícola?': 234453, 'Agricola': 127845, 'Pase': 580, 'pase': 131}

Feature: P102_2
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 4
  categories: {'¿Pecuaria?': 191027, 'Pecuaria': 105901, 'Pase': 44006, 'pase': 22075}

Feature: P102_3
  total_count: 363009
  nan_count: 127976
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 234570, 'NO REALIZÓ ACTIVIDAD': 463}

Feature: P1203
  total_count: 363009
  nan_count: 0
  dtype: float64
  mean: 2.198372492142068
  unique_count: 64
  categories: None

Feature: Installed Plants
  total_count: 363009
  nan_count: 251474
  dtype: float64
  mean: 10058.92693773255
  unique_count: 2422
  categories: None

Feature: OMICAP1200_02
  total_count: 363009
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 1
  categories: {' ': 363009}

Feature: Seed Certification
  total_count: 363009
  nan_count: 332116
  dtype: category
  mean: None
  unique_count: 2
  categories: {'¿No certificada?': 28052, '¿Certificada?': 2841}