In [1]:
import os
import requests
import zipfile
import io
import pandas as pd

# Download, extract, and load .dta file into a DataFrame

In [2]:
# Function to download, extract, and load .dta file into a DataFrame
def load_dta_from_zip(url, year):
    print(f"Processing dataset for year {year}...")
    response = requests.get(url)
    zip_file = zipfile.ZipFile(io.BytesIO(response.content))
    zip_file.extractall(f"extracted_files_{year}")

    # List all extracted files
    extracted_files = zip_file.namelist()
    print(f"Extracted files for {year}: {extracted_files}")

    # Identify .dta files
    dta_files = [file for file in extracted_files if file.endswith('.dta')]
    print(f".dta files found for {year}: {dta_files}")

    if dta_files:
        dta_file_path = os.path.join(f"extracted_files_{year}", dta_files[0])
        try:
            df = pd.read_stata(dta_file_path)
            print(f"DataFrame for {year} loaded successfully.")
            return df
        except ValueError as e:
            print(f"Error loading .dta file for {year}: {e}")
            return None
    else:
        print(f"No .dta files found for {year}.")
        return None

# URLs for datasets

In [3]:
urls = {
    2017: "https://proyectos.inei.gob.pe/iinei/srienaho/descarga/STATA/615-Modulo1330.zip",
    2018: "https://proyectos.inei.gob.pe/iinei/srienaho/descarga/STATA/650-Modulo1466.zip",
    2019: "https://proyectos.inei.gob.pe/iinei/srienaho/descarga/STATA/701-Modulo1545.zip"
}

# Loading the datasets

In [4]:
df_2017 = load_dta_from_zip(urls[2017], 2017)
df_2018 = load_dta_from_zip(urls[2018], 2018)
df_2019 = load_dta_from_zip(urls[2019], 2019)

Processing dataset for year 2017...
Extracted files for 2017: ['615-Modulo1330/', '615-Modulo1330/01_CUESTIONARIO_PEQUEÑOS_MEDIANOS_2017.pdf', '615-Modulo1330/02_CUESTIONARIO_ESTRATO_ESPECIAL_2017.pdf', '615-Modulo1330/16_Cap900.dta', '615-Modulo1330/Diccionario_Datos_16_CAP900.pdf']
.dta files found for 2017: ['615-Modulo1330/16_Cap900.dta']
DataFrame for 2017 loaded successfully.
Processing dataset for year 2018...
Extracted files for 2018: ['650-Modulo-1466/', '650-Modulo-1466/01_CUESTIONARIO_PEQUEÑOS_MEDIANOS_2018.pdf', '650-Modulo-1466/02_CUESTIONARIO_ESTRATO_ESPECIAL_2018.pdf', '650-Modulo-1466/17_Cap900.dta', '650-Modulo-1466/Diccionario_Datos_17_Cap900.pdf']
.dta files found for 2018: ['650-Modulo-1466/17_Cap900.dta']
DataFrame for 2018 loaded successfully.
Processing dataset for year 2019...
Extracted files for 2019: ['701-Modulo1545/', '701-Modulo1545/01_CUESTIONARIO_PEQUEÑOS_MEDIANOS_2019.pdf', '701-Modulo1545/02_CUESTIONARIO_ESTRATO_ESPECIAL_2019.pdf', '701-Modulo1545/17_Cap900.dta', '701-Modulo1545/Diccionario_Datos_17_Cap900.pdf']
.dta files found for 2019: ['701-Modulo1545/17_Cap900.dta']
DataFrame for 2019 loaded successfully.

# Column name mapping based on the PDF dictionary

In [5]:
column_mapping_2017 = {
    "ANIO": "Year",
    "CCDD": "Department Code",
    "NOMBREDD": "Department Name",
    "CCPP": "Province Code",
    "NOMBREPV": "Province Name",
    "CCDI": "District Code",
    "NOMBREDI": "District Name",
    "CONGLOMERADO": "Conglomerate",
    "NSELUA": "Agricultural Unit Selection Number",
    "UA": "Agricultural Unit Number",
    "ESTRATO": "Stratum Type",
    "RESFIN": "Survey Final Result",
    "REGION": "Natural Region",
    "DOMINIO": "Geographic Domain",
    "FACTOR": "Expansion Factor",
    "CODIGO": "Identification Code",
    "P901": "Requested Credit",
    "P902": "Obtained Credit",
    "P903_1": "Credit Provider - AGROBANCO",
    "P903_2": "Credit Provider - Municipal Bank",
    "P903_3": "Credit Provider - Rural Bank",
    "P903_4": "Credit Provider - Private Bank",
    "P903_5": "Credit Provider - Financial Institution/EDPYME",
    "P903_6": "Credit Provider - NGO",
    "P903_7": "Credit Provider - Cooperative",
    "P903_8": "Credit Provider - Commercial Establishment",
    "P903_9": "Credit Provider - Money Lender",
    "P903_10": "Credit Provider - State Programs",
    "P903_11": "Credit Provider - Other",
    "P905": "Received Agricultural Insurance",
    "P906": "Insurance Provider",
    "P907": "Has Savings Account",
    "P908_1": "Savings Account - AGROBANCO",
    "P908_2": "Savings Account - Bank of the Nation",
    "P908_3": "Savings Account - Municipal Bank",
    "P908_4": "Savings Account - Rural Bank",
    "P908_5": "Savings Account - Private Bank",
    "P908_6": "Savings Account - Financial Institution/EDPYME",
    "P908_7": "Savings Account - Cooperative",
    "P908_8": "Savings Account - Other",
}

In [6]:
def standardize_columns(df, mapping):
    """
    Standardizes column names in the dataset using a unified mapping and retains only columns present in the DataFrame.

    Parameters:
    df (DataFrame): The dataset to be standardized.
    mapping (dict): The column mapping dictionary.

    Returns:
    DataFrame: The dataset with standardized column names.
    """
    existing_columns = {col: mapping[col] for col in df.columns if col in mapping}
    return df.rename(columns=existing_columns, inplace=False)

In [7]:
# Standardize all datasets
df_2017_standardized = standardize_columns(df_2017, column_mapping_2017)
df_2018_standardized = standardize_columns(df_2018, column_mapping_2017)
df_2019_standardized = standardize_columns(df_2019, column_mapping_2017)

In [8]:
# Align columns across datasets
all_columns_ordered = list(column_mapping_2017.values())

for col in df_2018_standardized.columns:
    if col not in all_columns_ordered:
        all_columns_ordered.append(col)

for col in df_2019_standardized.columns:
    if col not in all_columns_ordered:
        all_columns_ordered.append(col)

df_2017_aligned = df_2017_standardized.reindex(columns=all_columns_ordered)
df_2018_aligned = df_2018_standardized.reindex(columns=all_columns_ordered)
df_2019_aligned = df_2019_standardized.reindex(columns=all_columns_ordered)

In [9]:
# Add 'Year' column to identify datasets
df_2017_aligned['Year'] = 2017
df_2018_aligned['Year'] = 2018
df_2019_aligned['Year'] = 2019

In [ ]:
# Combine datasets and add a unique_id column starting at 1
combined_df = pd.concat([df_2017_aligned, df_2018_aligned, df_2019_aligned], ignore_index=True)

# Add unique_id as the first column
combined_df.insert(0, "unique_id", range(1, len(combined_df) + 1))

C:\Users\jcbur\AppData\Local\Temp\ipykernel_3056\369379374.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([df_2017_aligned, df_2018_aligned, df_2019_aligned], ignore_index=True)

In [11]:
# Save the combined dataset to a CSV file
### output_path = r"C:\Users\jcbur\OneDrive - peruvianbusinesscouncil.com\csv files\#14_Producer_Geo_Spatial_Analysis\ENA Data Dictionaries\4_Servicios Financieros\ena_financial_services_2017_2019.csv"
### combined_df.to_csv(output_path, index=False)

In [12]:
print(combined_df)

       unique_id  Year Department Code Department Name Province Code  \
0              1  2017              24          TUMBES            02
1              2  2017              24          TUMBES            02
2              3  2017              24          TUMBES            02
3              4  2017              24          TUMBES            02
4              5  2017              24          TUMBES            02
...          ...   ...             ...             ...           ...
85667      85668  2019              15            LIMA            08
85668      85669  2019              20           PIURA            01
85669      85670  2019              20           PIURA            01
85670      85671  2019              20           PIURA            01
85671      85672  2019              20           PIURA            01

               Province Name District Code        District Name Conglomerate  \
0      CONTRALMIRANTE VILLAR            03  CANOAS DE PUNTA SAL        00001
1      CONTRALMIRANTE VILLAR            03  CANOAS DE PUNTA SAL        00001
2      CONTRALMIRANTE VILLAR            03  CANOAS DE PUNTA SAL        00001
3      CONTRALMIRANTE VILLAR            03  CANOAS DE PUNTA SAL        00001
4      CONTRALMIRANTE VILLAR            03  CANOAS DE PUNTA SAL        00001
...                      ...           ...                  ...          ...
85667                 HUAURA            11                SAYAN        90236
85668                  PIURA            04             CASTILLA        90237
85669                  PIURA            07            CURA MORI        90238
85670                  PIURA            14         TAMBO GRANDE        90239
85671                  PIURA            14         TAMBO GRANDE        90239

      Agricultural Unit Selection Number  ...  \
0                                  00001  ...
1                                  00020  ...
2                                  00040  ...
3                                  00060  ...
4                                  00074  ...
...                                  ...  ...
85667                              00001  ...
85668                              00001  ...
85669                              00001  ...
85670                              00002  ...
85671                              00003  ...

                                                  P904_1 P904_2  \
0                                                    NaN    NaN
1                                                    NaN    NaN
2                                                    NaN    NaN
3                                                    NaN    NaN
4                                                    NaN    NaN
...                                                  ...    ...
85667                                                NaN    NaN
85668                                                NaN    NaN
85669  ¿Comprar insumos agrícolas (semillas, fertiliz...   Pase
85670  ¿Comprar insumos agrícolas (semillas, fertiliz...   Pase
85671                                                NaN    NaN

                                         P904_3                P904_4 P904_5  \
0                                           NaN                   NaN    NaN
1                                           NaN                   NaN    NaN
2                                           NaN                   NaN    NaN
3                                           NaN                   NaN    NaN
4                                           NaN                   NaN    NaN
...                                         ...                   ...    ...
85667                                       NaN                   NaN    NaN
85668                                       NaN                   NaN    NaN
85669  ¿Pagar mano de obra (pago a jornaleros)?  ¿Asistencia técnica?   Pase
85670                                      Pase                  Pase   Pase
85671                                       NaN                   NaN    NaN

                               P904_6 P904_7 P904_8 P904_9 OMICAP900
0                                 NaN    NaN    NaN    NaN
1                                 NaN    NaN    NaN    NaN
2                                 NaN    NaN    NaN    NaN
3                                 NaN    NaN    NaN    NaN
4                                 NaN    NaN    NaN    NaN
...                               ...    ...    ...    ...       ...
85667                             NaN    NaN    NaN    NaN
85668                             NaN    NaN    NaN    NaN
85669                            Pase   Pase   Pase   Pase
85670  ¿Compra de terrenos agrícolas?   Pase   Pase   Pase
85671                             NaN    NaN    NaN    NaN

[85672 rows x 54 columns]

In [13]:
observations = {}
for col in combined_df.columns:
    observations[col] = {
        'total_count': combined_df[col].size,
        'nan_count': combined_df[col].isna().sum(),
        'dtype': combined_df[col].dtype,
        'mean': combined_df[col].mean() if combined_df[col].dtype in ['int64', 'float64'] else None,
        'unique_count': combined_df[col].nunique(),
        'categories': combined_df[col].value_counts().head(10).to_dict() if combined_df[col].dtype == 'object' or combined_df[col].nunique() <= 10 else None
    }

for feature, details in observations.items():
    print(f"Feature: {feature}")
    for key, value in details.items():
        print(f"  {key}: {value}")
    print()

Feature: unique_id
  total_count: 85672
  nan_count: 0
  dtype: int64
  mean: 42836.5
  unique_count: 85672
  categories: None

Feature: Year
  total_count: 85672
  nan_count: 0
  dtype: int64
  mean: 2017.9949341675226
  unique_count: 3
  categories: {2017: 28804, 2018: 28498, 2019: 28370}

Feature: Department Code
  total_count: 85672
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 25
  categories: {'13': 4331, '21': 4253, '02': 4159, '20': 4097, '06': 3921, '08': 3897, '10': 3888, '15': 3745, '01': 3736, '04': 3679}

Feature: Department Name
  total_count: 85672
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 29
  categories: {'LA LIBERTAD': 4331, 'PUNO': 4253, 'ANCASH': 4159, 'PIURA': 4097, 'CAJAMARCA': 3921, 'CUSCO': 3897, 'LIMA': 3745, 'AMAZONAS': 3736, 'AREQUIPA': 3679, 'AYACUCHO': 3662}

Feature: Province Code
  total_count: 85672
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 20
  categories: {'01': 22144, '02': 12948, '03': 10529, '05': 7458, '06': 6867, '04': 6236, '07': 4997, '09': 3468, '08': 2943, '10': 2874}

Feature: Province Name
  total_count: 85672
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 197
  categories: {'TACNA': 1961, 'MARISCAL NIETO': 1813, 'LAMBAYEQUE': 1769, 'ICA': 1693, 'TUMBES': 1656, 'GENERAL SANCHEZ CERRO': 1643, 'PASCO': 1628, 'CORONEL PORTILLO': 1465, 'ANDAHUAYLAS': 1362, 'TAMBOPATA': 1257}

Feature: District Code
  total_count: 85672
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 39
  categories: {'01': 16763, '02': 10342, '04': 8282, '03': 8276, '05': 7548, '06': 7060, '07': 4866, '08': 4693, '09': 3286, '10': 3114}

Feature: District Name
  total_count: 85672
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 1239
  categories: {'TACNA': 809, 'PAUCARTAMBO': 565, 'IRAZOLA': 536, 'SAN CRISTOBAL': 533, 'HUARMACA': 523, 'TAMBOPATA': 497, 'CORRALES': 495, 'MORROPE': 485, 'MOYOBAMBA': 445, 'CARUMAS': 441}

Feature: Conglomerate
  total_count: 85672
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 4018
  categories: {'01760': 59, '09908': 55, '10755': 52, '16756': 52, '12650': 52, '16807': 50, '12723': 50, '10720': 49, '16782': 49, '10721': 48}

Feature: Agricultural Unit Selection Number
  total_count: 85672
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 475
  categories: {'00001': 986, '00002': 803, '00004': 795, '00006': 787, '00041': 780, '00058': 779, '00023': 763, '00003': 761, '00067': 751, '00069': 750}

Feature: Agricultural Unit Number
  total_count: 85672
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 47
  categories: {'1': 7126, '2': 6526, '3': 6315, '4': 6149, '5': 6083, '6': 6035, '7': 6006, '8': 5934, '10': 5919, '9': 5913}

Feature: Stratum Type
  total_count: 85672
  nan_count: 81486
  dtype: object
  mean: None
  unique_count: 7
  categories: {'Empresa': 1330, 'Granja y Establo': 860, 'Persona natural': 587, 'Granja avicola': 473, 'Granjas y Establos': 416, 'Persona Natural': 287, 'Granjas Avícolas': 233}

Feature: Survey Final Result
  total_count: 85672
  nan_count: 0
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Completa': 85585, 'Incompleta': 87}

Feature: Natural Region
  total_count: 85672
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 4
  categories: {'Sierra': 49278, 'Costa': 18404, 'Selva': 17933, 4.0: 57}

Feature: Geographic Domain
  total_count: 85672
  nan_count: 4186
  dtype: object
  mean: None
  unique_count: 9
  categories: {'Sierra Centro': 20145, 'Sierra Sur': 17747, 'Selva': 16717, 'Sierra Norte': 10633, 'Costa Norte': 8299, 'Costa Centro': 4902, 'Costa Sur': 2890, 'Lima Metropolitano': 85, 8.0: 68}

Feature: Expansion Factor
  total_count: 85672
  nan_count: 0
  dtype: float64
  mean: 76.46619679181735
  unique_count: 557
  categories: None

Feature: Identification Code
  total_count: 85672
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 4
  categories: {'Pequeños y medianos productores/as agropecuarios/as': 54039, 1.0: 27447, 'Grandes productores/as agropecuarios/as': 2829, 2.0: 1357}

Feature: Requested Credit
  total_count: 85672
  nan_count: 24
  dtype: object
  mean: None
  unique_count: 3
  categories: {'No': 74198, 'Sí': 7195, 'Si': 4255}

Feature: Obtained Credit
  total_count: 85672
  nan_count: 74222
  dtype: object
  mean: None
  unique_count: 3
  categories: {'Sí': 6606, 'Si': 3914, 'No': 930}

Feature: Credit Provider - AGROBANCO
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 9302, 'AGROBANCO': 1218}

Feature: Credit Provider - Municipal Bank
  total_count: 85672
  nan_count: 75152
  dtype: object
  mean: None
  unique_count: 3
  categories: {'Pase': 7344, 'Caja Municipal': 2096, 'Caja municipal': 1080}

Feature: Credit Provider - Rural Bank
  total_count: 85672
  nan_count: 75152
  dtype: object
  mean: None
  unique_count: 3
  categories: {'Pase': 9705, 'Caja Rural': 568, 'Caja rural': 247}

Feature: Credit Provider - Private Bank
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 7357, 'Banca privada': 3163}

Feature: Credit Provider - Financial Institution/EDPYME
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 9284, 'Financiera/EDPYME': 1236}

Feature: Credit Provider - NGO
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 10441, 'Organismo No Gubernamental (ONG)': 79}

Feature: Credit Provider - Cooperative
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 9640, 'Cooperativa': 880}

Feature: Credit Provider - Commercial Establishment
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 10435, 'Establecimiento comercial': 85}

Feature: Credit Provider - Money Lender
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 10093, 'Prestamista/Habilitador': 427}

Feature: Credit Provider - State Programs
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 10486, 'Programas del Estado': 34}

Feature: Credit Provider - Other
  total_count: 85672
  nan_count: 75152
  dtype: object
  mean: None
  unique_count: 2
  categories: {'Pase': 10487, 'Otro': 33}

Feature: Received Agricultural Insurance
  total_count: 85672
  nan_count: 24
  dtype: object
  mean: None
  unique_count: 3
  categories: {'No': 84401, 'Sí': 902, 'Si': 345}

Feature: Insurance Provider
  total_count: 85672
  nan_count: 84425
  dtype: object
  mean: None
  unique_count: 5
  categories: {'Ministerio de Agricultura y Riego': 908, 'Empresa aseguradora': 169, 'AGROBANCO': 86, 'Banca privada': 78, 'Otro': 6}

Feature: Has Savings Account
  total_count: 85672
  nan_count: 4205
  dtype: object
  mean: None
  unique_count: 3
  categories: {'No': 64577, 'Sí': 11350, 'Si': 5540}

Feature: Savings Account - AGROBANCO
  total_count: 85672
  nan_count: 68782
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 16729, 'AGROBANCO': 161}

Feature: Savings Account - Bank of the Nation
  total_count: 85672
  nan_count: 68782
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Banco de la Nación': 11204, 'Pase': 5686}

Feature: Savings Account - Municipal Bank
  total_count: 85672
  nan_count: 68782
  dtype: object
  mean: None
  unique_count: 3
  categories: {'Pase': 15332, 'Caja Municipal': 1028, 'Caja municipal': 530}

Feature: Savings Account - Rural Bank
  total_count: 85672
  nan_count: 68782
  dtype: object
  mean: None
  unique_count: 3
  categories: {'Pase': 16626, 'Caja Rural': 204, 'Caja rural': 60}

Feature: Savings Account - Private Bank
  total_count: 85672
  nan_count: 68782
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 13253, 'Banca privada': 3637}

Feature: Savings Account - Financial Institution/EDPYME
  total_count: 85672
  nan_count: 68782
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 16720, 'Financiera/EDPYME': 170}

Feature: Savings Account - Cooperative
  total_count: 85672
  nan_count: 68782
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 16217, 'Cooperativa': 673}

Feature: Savings Account - Other
  total_count: 85672
  nan_count: 68782
  dtype: object
  mean: None
  unique_count: 2
  categories: {'Pase': 16889, 'Otro': 1}

Feature: P101A
  total_count: 85672
  nan_count: 82843
  dtype: category
  mean: None
  unique_count: 8
  categories: {'¿Persona natural?': 1285, '¿Sociedad anónima cerrada (SAC)?': 753, '¿Sociedad anónima?': 287, 'Otro': 200, '¿Empresa individual de responsabilidad limitada (EIRL)?': 155, '¿Sociedad de responsabilidad limitada (SRL)?': 106, '¿Sociedad anónima abierta (SAA)?': 23, '¿Cooperativa agraria?': 20}

Feature: P102_1
  total_count: 85672
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 4
  categories: {'¿Agrícola?': 54607, 'Agricola': 27564, 'Pase': 2261, 'pase': 1240}

Feature: P102_2
  total_count: 85672
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 4
  categories: {'¿Pecuaria?': 43617, 'Pecuaria': 22466, 'Pase': 13251, 'pase': 6338}

Feature: P904_1
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'¿Comprar insumos agrícolas (semillas, fertilizantes, plaguicidas, control biológ': 6497, 'Pase': 4023}

Feature: P904_2
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 8962, '¿Comprar Insumos pecuarios (vacunas, vitaminas, alimento balanceado, etc.)?': 1558}

Feature: P904_3
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 6706, '¿Pagar mano de obra (pago a jornaleros)?': 3814}

Feature: P904_4
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 10341, '¿Asistencia técnica?': 179}

Feature: P904_5
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 9261, '¿Alquiler de maquinaria (agricola y/o pecuaria)?': 1259}

Feature: P904_6
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 10124, '¿Compra de terrenos agrícolas?': 396}

Feature: P904_7
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 10038, '¿Compra de ganado?': 482}

Feature: P904_8
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 10177, '¿Otro?': 343}

Feature: P904_9
  total_count: 85672
  nan_count: 75152
  dtype: category
  mean: None
  unique_count: 2
  categories: {'Pase': 8654, 'NO LO UTILIZÓ PARA SU ACTIVIDAD AGRÍCOLA NI PECUARIA': 1866}

Feature: OMICAP900
  total_count: 85672
  nan_count: 0
  dtype: object
  mean: None
  unique_count: 2
  categories: {' ': 85648, '99': 24}